main {
  .player {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  a {
    text-decoration: none;
  }
}

.player {
position: absolute;
display: flex;
flex-wrap: wrap;
}



.player:hover .controls player:focus .controls {
opacity: 1;
}
.timer {
  height: 38px;
  line-height: 19px;
  box-shadow: inset 0 -5px 25px rgba(0,0,0,0.3);
  border-right: 1px solid #333;
  }
.fwd {
border-radius: 0 10px 10px 0;
background-color: aqua;;
}
.timer {
line-height: 38px;
font-size: 10px;
font-family: monospace;
text-shadow: 1px 1px 0px black;
color: white;
flex: 5;
position: relative;
}

.timer div {
position: absolute;
background-color: rgba(255,255,255,0.2);
left: 0;
top: 0;
width: 0;
height: 38px;
z-index: 2;
}

.timer span {
position: absolute;
z-index: 3;
left: 19px;
}

.active:before {
color: red;
}
